body{
    background-image: url("res/bg.png");
}
h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
    position: absolute;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-style: italic;
    font-size: 300%;
    left: 50%;
}
#cat{
    margin-top: 5%;
    margin-left: 10%;
}
#ghost{
    width: 3%;
    height: auto;
}
.b{
    border-radius: 15px 50px;
    border: 2px solid;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: larger;
    font-style: italic;
    width: 10%;
    height: auto;
}

